# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/.vscode
/cmake-build-debug
/idea
/vscode

books.txt
borrows.txt
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2516b8645d7e6246dcad.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-03-18T14-20-38-0450.json
cmake-build-debug/.cmake/api/v1/reply/target-LibrarySystem-Debug-8fc57be69e0599f8a966.json
cmake-build-debug/build.ninja
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
fileHandler.c
librarysys.exe
users.txt
